@font-face {
  font-family: "Maison Neue";
  src: url("maison_neue.woff2") format("woff2");
}

:root {
  --main-background-color: #f6f7f9;
  --how-to-background-color: #f6f7f9;
  --question-background-color: #fe9b05;
}

body {
  font-family: "Maison Neue";
  font-size: .8rem;
  /*font-family: ui-monospace,SFMono-Regular,SF Mono,Menlo,Consolas,Liberation Mono,monospace !important;*/
}

.logo-container {
  position: absolute;
  width: 100%;
  height: 100px;
}

.logo-container img {
  height: 100px;
}

.row.pb-container {
  padding: 20px 35px;
}

/*******************************/
/**** How to related styles ****/
/*******************************/
.pb-container .pb-how-to-container {
  height: 80vh;
  padding-top: 80px;
  padding-right: 30px;
}

.pb-how-to-container .how-to-header {
  margin-bottom: 20px;
}

.pb-how-to-container ul li {
  line-height: 2em;
}

/*************************************/
/*** Question form related styles ****/
/*************************************/
.pb-container .pb-question-form-container {
}

.pb-container .pb-question-form-container {
  display: flex;
  margin: 35px 0px 0 20px;
  border-radius: 10px;
  box-shadow: 0px 4px 11px 2px #ffc773;
}

.pb-container .pb-question-form-container form {
  padding: 20px 35px;
}
.pb-question-form-container #paidEmailBody {
  height: 100px;
}

.pb-question-form-container form .submit-container {
  margin-top: 15px;
  display: flex;
  justify-content: right;
}
.pb-question-form-container #user-pk-area textarea {
  height: 100px;
}

.pb-question-form-container form .submit-container .btn-encrypt {
  background: var(--question-background-color);
  color: white;
  margin-right: 20px;
}