:root {
  --main-background-color: #f6f7f9;
  --how-to-background-color: #f6f7f9;
  --question-background-color: #ffc177;
}

body {
  font-family: "Maison Neue";
  /*font-family: ui-monospace,SFMono-Regular,SF Mono,Menlo,Consolas,Liberation Mono,monospace !important;*/
}

.pb-container {
  width: 100%;
  height: 100vh;
  background-color: var(--main-background-color);
  display: flex;
}

.container .logo-container {
  position: absolute;
  width: 100%;
  height: 50px;
}

.container .logo-container img {
  height: 50px;
}

/*******************************/
/**** How to related styles ****/
/*******************************/
.pb-container .pb-how-to-container {
  width: 50%;
  height: inherit;
  padding: 50px 0 0 100px;
}

.pb-how-to-container .how-to-header {
  margin-bottom: 40px;
}

.pb-how-to-container ul li {
  line-height: 2em;
}

/*************************************/
/*** Question form related styles ****/
/*************************************/
.pb-container .pb-question-container {
  width: 50%;
  height: inherit;
}

.pb-container .pb-question-form-container {
  display: flex;
  background-color: var(--question-background-color);
  margin: 80px 50px 0 100px;
  border-radius: 10px;
}

.pb-container .pb-question-form-container form {
  padding: 50px;
}
.pb-question-form-container #paidEmailBody {
  height: 150px;
}