@media screen and (max-width: 440px) and (orientation: portrait) {
  body {
    font-size: .8rem;
  }
  .logo-container {
    height: 150px;
    display: flex;
    justify-content: center;
  }
  .logo-container img {
    height: 150px;
    left: 0;
    right: 0;
  }
  .row.pb-container {
    padding-top: 150px;
  }
  .how-to-header {
    display: none;
  }
  .pb-container .pb-question-container {
    margin-top: 50px;
  }

  .pb-container .pb-question-form-container {
    display: flex;
    margin: 0;
    border-radius: 0px;
    box-shadow: none;
  }
}